a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

h2 {
  font-size: 36px;
}

h4 {
  font-size: 22px;
}
i {
  color: white;
}

#about-info {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 50px;
  color: white;
}
.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  margin: auto;
}

.dark-icon {
  color: blue;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-image: url(asfalt-light.png);

}

#intro-div {
  padding: 20px;
  width: 40%;
  height: 30vh;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

#introduction {
  height: 100vh;
  width: 100vw;
  background: rgb(34,152,140);
  background: linear-gradient(90deg, rgba(34,152,140,1) 0%, rgba(111,104,203,1) 45%, rgba(167,145,236,1) 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

#nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  padding: 10px;
  /* background-color: lightgrey;
  height: 100%; */
  border-radius: 5px;
  color: white;
}

.nav-link:hover {
  background-color: gray;
}


.seperator {
  border-bottom: 2px solid black;
}

footer {
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.project-square {
  border: 2px solid black;
  padding: 5px;
}

.project-square:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


#projects {
  width: 70vw;
  margin: auto;
}

.project-image {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border: 1px solid black;
}

#skills {
  width: 70vw;
  margin: auto;
  margin-bottom: 20px;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  list-style: none;
  text-align: left;
  padding-left: 0; 

}
